body {
  background: rgb(129, 146, 46);
  position: relative;
}

.header {
  padding: 0 93px;
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__item {
  color: rgb(239, 239, 239);
  font-size: 60px;
  font-weight: 400;
  line-height: 73px;
  text-decoration-line: underline;
}

.header__item a {
  color: inherit;
}

.main {
  padding: 20px;
}

.me__note {
  color: rgb(239, 239, 239);
  font-size: 120px;
  font-weight: 400;
  text-decoration: underline;
  text-align: right;
  margin-top: 315px;
  margin-bottom: 0;
}

.works__list {
  list-style-type: none;
  padding: 0;
}

.works__pictures {
  margin-bottom: 20px;
}

.caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
